<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.basic.dao.MemberMapper">
  <resultMap id="BaseResultMap" type="com.demo.basic.vo.domain.Member">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPwd" jdbcType="VARCHAR" property="userpwd" />
    <result column="userRole" jdbcType="VARCHAR" property="userrole" />
    <result column="non_expired" jdbcType="BIT" property="nonExpired" />
    <result column="non_locked" jdbcType="BIT" property="nonLocked" />
    <result column="credentials_non_expired" jdbcType="BIT" property="credentialsNonExpired" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, userName, userPwd, userRole, non_expired, non_locked, credentials_non_expired,
    enabled, createTime, modifyTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from member
    where userName = #{userName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.demo.basic.vo.domain.Member">
    insert into member (id, userName, userPwd, 
      userRole, non_expired, non_locked,
      credentials_non_expired, enabled, createTime,
      modifyTime)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR},
      #{userrole,jdbcType=VARCHAR}, #{nonExpired,jdbcType=BIT}, #{nonLocked,jdbcType=BIT},
      #{credentialsNonExpired,jdbcType=BIT}, #{enabled,jdbcType=BIT}, #{createtime,jdbcType=TIMESTAMP},
      #{modifytime,jdbcType=TIMESTAMP})
  </insert>
</mapper>